//设置盒子动画
@keyframes setbox-show {
  0% {
    opacity: 0.1;
    height: 50;
    width: 50px;
  }
  50% {
    opacity: 0.5;
    height: 100px;
    width: 100px;
  }
  100% {
    opacity: 1;
    height: 300px;
    width: 200px;
  }
}
//飞机动画
@keyframes scalePlane {
  // 动画设置
  0% {
    transform: scale(1) rotate(120deg);
  }

  25% {
    transform: scale(1.2) rotate(120deg);
  }

  50% {
    transform: scale(1) rotate(120deg);
  }
  75% {
    transform: scale(1.2) rotate(120deg);
  }
}
//火箭左边动画
@keyframes scalePre {
  // 动画设置
  0% {
    transform: scale(1) rotate(-90deg);
  }

  25% {
    transform: scale(1.2) rotate(-90deg);
  }

  50% {
    transform: scale(1) rotate(-90deg);
  }
  75% {
    transform: scale(1.2) rotate(-90deg);
  }
}
//火箭右边动画
@keyframes scaleNext {
  // 动画设置
  0% {
    transform: scale(1) rotate(90deg);
  }

  25% {
    transform: scale(1.2) rotate(90deg);
  }

  50% {
    transform: scale(1) rotate(90deg);
  }
  75% {
    transform: scale(1.2) rotate(90deg);
  }
}
//子弹动画
@keyframes zdMove {
  // 动画设置
  0% {
    bottom: 150px;
  }

  25% {
    bottom: 250px;
  }

  50% {
    bottom: 350px;
  }
  75% {
    bottom: 500px;
  }
  100% {
    bottom: 750px;
  }
}

//3d图片动画
@keyframes allImg {
  0% {
    transform: rotateY(50deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.chat-main {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(13, 172, 235);
  .triggle-img {
    background: url("@/images/trigger.svg") center no-repeat;
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 0 10px 10px;
    &:hover {
      transition: ease-out 1.5s;
      transform: rotate(360deg);
    }
  }
  .joker-img {
    width: 100px;
    height: 100px;
    background-image: url("../../images/xiaolian.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 80px;
    &:hover {
      animation: allImg 1.5s infinite;
    }
  }
  .yanjing-img {
    width: 100px;
    height: 100px;
    background-image: url("../../images/yanjing.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 300px;
    &:hover {
      animation: allImg 1.5s infinite;
    }
  }
  .youxiji-img {
    width: 100px;
    height: 100px;
    background-image: url("../../images/youxiji.webp");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    right: 300px;
    &:hover {
      animation: allImg 1.5s infinite;
    }
  }
  .liwu-img {
    width: 100px;
    height: 100px;
    background-image: url("../../images/liwu.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 50px;
    &:hover {
      animation: allImg 1.5s infinite;
    }
  }
  .huanglian-img {
    width: 200px;
    height: 200px;
    background-image: url("../../images/huanglian.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 250px;
    left: -10px;
    border-radius: 100px 100px 30px 30px;
    transform: rotate(90deg);
  }
  .lvlian-img {
    width: 200px;
    height: 200px;
    background-image: url("../../images/lvlian.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 250px;
    right: 0px;
    border-radius: 100px 100px 30px 30px;
    transform: rotate(-90deg);
  }
  .setting-box-block {
    position: absolute;
    top: 40px;
    border-radius: 8px;
    width: 200px;
    height: 300px;
    z-index: 999;
    display: block;
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255);
    animation: setbox-show 0.5s linear;
    word-break: break-all;
    box-shadow: 10px 10px 10px rgba(81, 80, 80, 0.5);
    padding: 10px;
    overflow: hidden;
    .setting-box-close {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .img {
        width: 20px;
        height: 20px;
        background-image: url("../../images/close.svg");
        background-size: 100%;
        &:hover {
          transform: rotate(180deg);
          transition: 1s;
          cursor: pointer;
        }
      }
    }
  }
  .setting-box-none {
    display: none;
  }
  .chat-content {
    border-radius: 10px;
    width: 100%;
    background-color: rgb(22, 235, 250);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .chat-dialog {
      width: 70vw;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .chat-chat {
        width: 100%;
        height: calc(100% - 50px);
        // background-color: yellow;
      }
      .bottom-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 500px;
        min-height: 150px;
        // background-color: red;

        .pre-btn {
          width: 100px;
          height: 100px;
          background-image: url("../../images/huojian.webp");
          background-size: 100% 100%;
          transform: rotate(-90deg);
          cursor: pointer;
          &:hover {
            animation: scalePre 2s infinite;
          }
        }
        .zidan-img {
          position: absolute;
          bottom: 100px;
          width: 50px;
          height: 50px;
          background-image: url("../../images/zidan.svg");
          background-size: 100% 100%;
        }
        .zidan-img-move {
          position: absolute;
          bottom: 200px;
          width: 50px;
          height: 50px;
          background-image: url("../../images/zidan.svg");
          background-size: 100% 100%;
          animation: zdMove 0.2s ease-in;
          animation-fill-mode: forwards;
        }
        .plane-box {
          width: 150px;
          height: 150px;
          // background-color: #fff;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          .plane1-img {
            bottom: 20px;
            width: 120px;
            height: 100px;
            background-image: url("../../images/plane2.webp");
            background-size: cover;
            transform: rotate(120deg);
            cursor: pointer;
            &:hover {
              animation: scalePlane 2s infinite;
            }
          }
        }
        .next-btn {
          width: 100px;
          height: 100px;
          background-image: url("../../images/huojian.webp");
          background-size: 100% 100%;
          transform: rotate(90deg);
          cursor: pointer;
          &:hover {
            animation: scaleNext 2s ease-in-out;
          }
        }
      }
    }
  }
}
