html, body, #goseph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --wails-draggable: drag;
}
.drag {
  --wails-draggable: drag;
}
.nodrag {
  --wails-draggable: no-drag;
}
input {
  --wails-draggable: no-drag;
  &:disabled {
    --wails-draggable: drag;
  }
}
input, button {
  &:disabled {
    --wails-draggable: drag;
    cursor: not-allowed;
  }
}
.chatarea {
  overflow: overlay;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}
:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-500/50;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}

.addr-panel {
  :where(.qr-panel) {
    display: none;
  }
}
.qr-panel-enter {
  display: block;
  opacity: .6;
  transform: scale(.6);
}
.qr-panel-enter-active {
  transform: scale(1);
  opacity: 1;
}
.qr-panel-enter-done {
  display: block;
}
.qr-panel-exit {
  display: block;
  transform: scale(1);
  opacity: 1;
}
.qr-panel-exit-active {
  transform: scale(.6);
  opacity: .6;
}