html, body, #goseph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --wails-draggable: drag;
}
::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 6px;
}
:hover::-webkit-scrollbar-thumb {
  @apply bg-gray-500/20;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500/50;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background: transparent;
}
.drag {
  --wails-draggable: drag;
}
.nodrag {
  --wails-draggable: no-drag;
}
input {
  --wails-draggable: no-drag;
  &:disabled {
    --wails-draggable: drag;
  }
}
input, button {
  label {
    cursor: pointer;
  }
  &:disabled {
    --wails-draggable: drag;
    cursor: not-allowed;
    label {
      cursor: not-allowed;
    }
  }
}

.chat {
  &area {
    overflow: overlay;
    &-placeholder {
      @apply transition pointer-events-none opacity-0;
    }
    &.dragover {
      .chatarea-placeholder {
        @apply backdrop-filter backdrop-blur-sm opacity-100 z-10;
      }
    }
  }
  &-form {
    @apply  bg-transparent transition;
    &:focus-within {
      @apply bg-gray-100 dark:bg-dark-700;
    }
  }
}

.addr-panel {
  :where(.qr-panel) {
    display: none;
  }
}
.qr-panel-enter {
  display: block;
  opacity: .6;
  transform: scale(.6);
}
.qr-panel-enter-active {
  transform: scale(1);
  opacity: 1;
}
.qr-panel-enter-done {
  display: block;
}
.qr-panel-exit {
  display: block;
  transform: scale(1);
  opacity: 1;
}
.qr-panel-exit-active {
  transform: scale(.6);
  opacity: .6;
}