html, body, #goseph {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --wails-draggable: drag;
}
.drag {
  --wails-draggable: drag;
}
.nodrag {
  --wails-draggable: no-drag;
}
input {
  --wails-draggable: no-drag;
}
